@import "tailwindcss";

@layer utilities {
  .page-break-inside-avoid {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

@media print {
  @page {
    size: 215mm 330mm; /* F4 Size */
    margin: 10mm;
  }
  
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: white !important;
  }
}
